<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ddpms.action.authen.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>com.ddpms.action.dashboard.DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.ddpms.action.authen.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <servlet-class>com.ddpms.action.authen.ChangeProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.ddpms.action.authen.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BudgetplanSearchServlet</servlet-name>
        <servlet-class>com.ddpms.action.budgetplan.BudgetplanSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BudgetplanAddServlet</servlet-name>
        <servlet-class>com.ddpms.action.budgetplan.BudgetplanAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BudgetplanEditServlet</servlet-name>
        <servlet-class>com.ddpms.action.budgetplan.BudgetplanEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BudgetplanDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.budgetplan.BudgetplanDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectSearchServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.ProjectSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectAddServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.ProjectAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectEditServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.ProjectEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.ProjectDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectWorkingSearchServlet</servlet-name>
        <servlet-class>com.ddpms.action.project_working.ProjectWorkingSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectWorkingAddServlet</servlet-name>
        <servlet-class>com.ddpms.action.project_working.ProjectWorkingAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectWorkingEditServlet</servlet-name>
        <servlet-class>com.ddpms.action.project_working.ProjectWorkingEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectWorkingDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.project_working.ProjectWorkingDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskAssignListServlet</servlet-name>
        <servlet-class>com.ddpms.action.task.TaskAssignListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskAssignFormServlet</servlet-name>
        <servlet-class>com.ddpms.action.task.TaskAssignFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskAssignSaveServlet</servlet-name>
        <servlet-class>com.ddpms.action.task.TaskAssignSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskAssignDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.task.TaskAssignDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskWorkListServlet</servlet-name>
        <servlet-class>com.ddpms.action.task.TaskWorkListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskWorkFormServlet</servlet-name>
        <servlet-class>com.ddpms.action.task.TaskWorkFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskWorkSaveServlet</servlet-name>
        <servlet-class>com.ddpms.action.task.TaskWorkSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskWorkDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.task.TaskWorkDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectShiftAddServlet</servlet-name>
        <servlet-class>com.ddpms.action.project_shift.ProjectShiftAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectShiftEditServlet</servlet-name>
        <servlet-class>com.ddpms.action.project_shift.ProjectShiftEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectShiftDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.project_shift.ProjectShiftDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectShiftSearchServlet</servlet-name>
        <servlet-class>com.ddpms.action.project_shift.ProjectShiftSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectExpenseDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.expense.ProjectExpenseDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectExpenseSearchServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.expense.ProjectExpenseSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StrategicAddServlet</servlet-name>
        <servlet-class>com.ddpms.action.strategic.StrategicAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StrategicEditServlet</servlet-name>
        <servlet-class>com.ddpms.action.strategic.StrategicEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StrategicDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.strategic.StrategicDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StrategicSearchServlet</servlet-name>
        <servlet-class>com.ddpms.action.strategic.StrategicSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanAddServlet</servlet-name>
        <servlet-class>com.ddpms.action.plan.PlanAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanEditServlet</servlet-name>
        <servlet-class>com.ddpms.action.plan.PlanEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.plan.PlanDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlanSearchServlet</servlet-name>
        <servlet-class>com.ddpms.action.plan.PlanSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigListServlet</servlet-name>
        <servlet-class>com.ddpms.action.config.ConfigListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigFormServlet</servlet-name>
        <servlet-class>com.ddpms.action.config.ConfigFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigSaveServlet</servlet-name>
        <servlet-class>com.ddpms.action.config.ConfigSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.config.ConfigDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectTypeListServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.type.ProjectTypeListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectTypeFormServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.type.ProjectTypeFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectTypeDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.type.ProjectTypeDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectTypeSaveServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.type.ProjectTypeSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentListServlet</servlet-name>
        <servlet-class>com.ddpms.action.department.DepartmentListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentFormServlet</servlet-name>
        <servlet-class>com.ddpms.action.department.DepartmentFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.department.DepartmentDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepartmentSaveServlet</servlet-name>
        <servlet-class>com.ddpms.action.department.DepartmentSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskListServlet</servlet-name>
        <servlet-class>com.ddpms.action.task.TaskListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskFormServlet</servlet-name>
        <servlet-class>com.ddpms.action.task.TaskFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskSaveServlet</servlet-name>
        <servlet-class>com.ddpms.action.task.TaskSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskDeleteServlet</servlet-name>
        <servlet-class>com.ddpms.action.task.TaskDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectVerifyServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.ProjectVerifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectExpenseFormServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.expense.ProjectExpenseFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectExpenseSaveServlet</servlet-name>
        <servlet-class>com.ddpms.action.project.expense.ProjectExpenseSaveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatasetServlet</servlet-name>
        <servlet-class>com.ddpms.action.dashboard.DatasetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.ico</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.jpg</url-pattern>
        <url-pattern>*.htc</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.eot</url-pattern>
        <url-pattern>*.svg</url-pattern>
        <url-pattern>*.ttf</url-pattern>
        <url-pattern>*.woff</url-pattern>
        <url-pattern>*.woff2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeProfileServlet</servlet-name>
        <url-pattern>/ChangeProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BudgetplanSearchServlet</servlet-name>
        <url-pattern>/BudgetplanSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BudgetplanAddServlet</servlet-name>
        <url-pattern>/BudgetplanAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BudgetplanEditServlet</servlet-name>
        <url-pattern>/BudgetplanEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BudgetplanDeleteServlet</servlet-name>
        <url-pattern>/BudgetplanDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectSearchServlet</servlet-name>
        <url-pattern>/ProjectSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectAddServlet</servlet-name>
        <url-pattern>/ProjectAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectEditServlet</servlet-name>
        <url-pattern>/ProjectEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectDeleteServlet</servlet-name>
        <url-pattern>/ProjectDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectWorkingSearchServlet</servlet-name>
        <url-pattern>/ProjectWorkingSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectWorkingAddServlet</servlet-name>
        <url-pattern>/ProjectWorkingAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectWorkingEditServlet</servlet-name>
        <url-pattern>/ProjectWorkingEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectWorkingDeleteServlet</servlet-name>
        <url-pattern>/ProjectWorkingDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskAssignListServlet</servlet-name>
        <url-pattern>/TaskAssignListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectShiftAddServlet</servlet-name>
        <url-pattern>/ProjectShiftAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectShiftEditServlet</servlet-name>
        <url-pattern>/ProjectShiftEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectShiftDeleteServlet</servlet-name>
        <url-pattern>/ProjectShiftDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectShiftSearchServlet</servlet-name>
        <url-pattern>/ProjectShiftSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskAssignFormServlet</servlet-name>
        <url-pattern>/TaskAssignFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskAssignSaveServlet</servlet-name>
        <url-pattern>/TaskAssignSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskAssignDeleteServlet</servlet-name>
        <url-pattern>/TaskAssignDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectExpenseDeleteServlet</servlet-name>
        <url-pattern>/ProjectExpenseDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectExpenseSearchServlet</servlet-name>
        <url-pattern>/ProjectExpenseSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StrategicAddServlet</servlet-name>
        <url-pattern>/StrategicAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StrategicEditServlet</servlet-name>
        <url-pattern>/StrategicEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StrategicDeleteServlet</servlet-name>
        <url-pattern>/StrategicDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StrategicSearchServlet</servlet-name>
        <url-pattern>/StrategicSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanAddServlet</servlet-name>
        <url-pattern>/PlanAddServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanEditServlet</servlet-name>
        <url-pattern>/PlanEditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanDeleteServlet</servlet-name>
        <url-pattern>/PlanDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlanSearchServlet</servlet-name>
        <url-pattern>/PlanSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskWorkListServlet</servlet-name>
        <url-pattern>/TaskWorkListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskWorkFormServlet</servlet-name>
        <url-pattern>/TaskWorkFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskWorkSaveServlet</servlet-name>
        <url-pattern>/TaskWorkSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskWorkDeleteServlet</servlet-name>
        <url-pattern>/TaskWorkDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigListServlet</servlet-name>
        <url-pattern>/ConfigListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigFormServlet</servlet-name>
        <url-pattern>/ConfigFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigSaveServlet</servlet-name>
        <url-pattern>/ConfigSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigDeleteServlet</servlet-name>
        <url-pattern>/ConfigDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectTypeListServlet</servlet-name>
        <url-pattern>/ProjectTypeListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectTypeFormServlet</servlet-name>
        <url-pattern>/ProjectTypeFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectTypeDeleteServlet</servlet-name>
        <url-pattern>/ProjectTypeDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectTypeSaveServlet</servlet-name>
        <url-pattern>/ProjectTypeSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentListServlet</servlet-name>
        <url-pattern>/DepartmentListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentFormServlet</servlet-name>
        <url-pattern>/DepartmentFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentDeleteServlet</servlet-name>
        <url-pattern>/DepartmentDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepartmentSaveServlet</servlet-name>
        <url-pattern>/DepartmentSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskListServlet</servlet-name>
        <url-pattern>/TaskListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskFormServlet</servlet-name>
        <url-pattern>/TaskFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskSaveServlet</servlet-name>
        <url-pattern>/TaskSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskDeleteServlet</servlet-name>
        <url-pattern>/TaskDeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectVerifyServlet</servlet-name>
        <url-pattern>/ProjectVerifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectExpenseFormServlet</servlet-name>
        <url-pattern>/ProjectExpenseFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectExpenseSaveServlet</servlet-name>
        <url-pattern>/ProjectExpenseSaveServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatasetServlet</servlet-name>
        <url-pattern>/DatasetServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>jsp/dashboard.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <description>Character Encoding Filter </description>
        <display-name>encodingFilter </display-name>
        <filter-name>encodingFilter </filter-name>
        <filter-class>EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding </param-name>
            <param-value>UTF-8 </param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter </filter-name>
        <url-pattern>/* </url-pattern>
    </filter-mapping>
</web-app>
