.icon_counter_red {
    background-color      : #f00;
}

.icon_counter_blue {
    background-color      : #39f;
}

.icon_counter_green {
    background-color      : #3c3;
}

.icon_counter {
    color                 : #fff;
    font-family           : "Arial";
    font-size             : 14px;
    font-weight           : 600;

    position              : absolute;

    padding               : 0px 7px 0px 7px;
    margin-top            : -40px;
    margin-left           : 100px;

    -webkit-border-radius : 3px;
    -moz-border-radius    : 3px;
    border-radius         : 3px;

    -webkit-box-shadow    : inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow       : inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
    box-shadow            : inset 0px 0px 2px 0px rgba(50, 50, 50, 0.75);
}

.nav {
    padding: 5px;
}